beautifulsoup4==4.9.3
bs4==0.0.1
pyinstaller==4.3
python-telegram-bot==13.7
pywin32-ctypes==0.2.0
requests==2.24.0
requests-html==0.10.0
selenium==3.141.0
Telethon
urllib3
w3lib
webdriver-manager
websocket
